html {
    box-sizing: border-box;
    }
    
    *, *::before, *::after {
    box-sizing: inherit;
    }
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", sans-serif;
    /*フォントの種類*/
    line-height: 1.7;
    /*行の高さ(行間））*/
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    font-size: 1rem;
    list-style: none;
}

li {
    margin-left: 30px;
    margin-top: 15px;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    /*中央に配置*/
    padding: 30px 10%;
}

/*上下　左右*/

h3 {
    font-size: 1.5rem;
    text-align: center;
}

.about {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#explanation {
    display: flex;
    justify-content: center;
}

#explanation p {
    margin-top: 50px;
    margin-left: 30px;
}

.container {
    display: flex;
    justify-content: center;
}

.item {
    margin: 40px 30px;
    height: 120px;
    width: 240px;
}

form div {
    margin-bottom: 30px;
    margin-top: 30px;
}

label {
    font-size: 0.7rem;
    margin-bottom: 0px;
    display: block;
}

/*1段から2段に*/

input[type="email"] {
    width: 400px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #d6c299;
    padding-left:10px ;
    outline: none;
}

.button {
    background: #ff006f;
    color: #fff;
    border-radius: 5px;
}

input[type="submit"] {
    width: 200px;
    height: 50px;
}

footer {
    text-align: right;
}


footer p {
    padding-top: 30px;
    border-top: 1px solid olive;
    font-size: 0.875rem;
}

.apo, .apo2 {
    text-align: center;
}
@media(max-width:600px){
header{display: flex;
   flex-direction: column;
   align-items: center;}
li{font-size: 12px;}
#explanation{display: block;
             margin: 0 auto;}
#explanation p{margin-right: 15px;}
.about{ width: 100%;}
input [type="email"]{width:200px}
.wrapper{overflow: hidden;}
li{margin-right: 10px;}
}